/bower_components/
.DS_Store
/.env
/env/
/generated-docs/
/.idea
/node_modules/
output/
output.bak/
/.psa*
/.psc-package/
/.psc*
/.pulp-cache/
/.purs*
/.spago/
/.spec-results
/tmp.log
/tmp.sec.tar.gz
/var
/.version
.psc-ide-port
